@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;700;800;900&family=Sigmar&family=Rammetto+One&display=swap');

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  /*background: rgb(131, 131, 131);*/
  /*background: linear-gradient(127deg, rgba(131, 131, 131, 1) 0%, rgba(255, 255, 255, 1) 100%);*/
  /*background-attachment: fixed; !*edit*!*/
}

@media only screen and (max-width: 767px) {
  html {
    font-size: 14px;
  }
}

* p {
  margin: 0;
}
